<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign in below</h1>
    <a href="/" class="btn btn-primary">Home</a>

    <div class="signIn">

      <form class="" action="/adminLoginAuth" method="post">

        Username:
        <input type="text" name="name" value="" required> <br>
        Password:
        <input type="password" name="password" value="" required> <br>

        <input type="submit" name="" value="Login">

      </form>

      {% if message %}
        <p>{{message}}</p>
      {% endif %}

    </div>
  </body>
</html>
