<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <style>
  *{
    text-align: center;
  }
  </style>
  <body>
    <h1>Choose your topic and register your group</h1>
    <a href="/" class="btn btn-primary">Home</a>
    <div class="studentForm">
      <form action="/postGroup" method="POST">
        Name:
        <input type="text" name="name" value="" required>
        NetId:
        <input type="text" name="netId" value="" required> <br>

        Teammate 1 Name:
        <input type="text" name="name1" value="" required>
        NetId:
        <input type="text" name="netId1" value="" required> <br>


        Teammate 2 Name:
        <input type="text" name="name2" value="">
        NetId:
        <input type="text" name="netId2" value=""> <br>

        Teammate 3 Name:
        <input type="text" name="name3" value="">
        NetId:
        <input type="text" name="netId3" value=""> <br>

        <p>Select your topic: </p>

        {% for topic in topics %}
          <input type="radio" name="topic" value="{{topic}}">
          <label for="topic">{{topic}}</label> <br>
        {% endfor %}


        {% if message %}
          <p class="message">{{message}}</p>
        {% endif %}

        <input type="submit" name="submit" value="Add Group">

      </form>

    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
