<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    <form class="/logout" action="/logout" method="post">
      <a href="/" class="">Logout</a>
    </form>
    <h1>Welcome, Admin</h1>

    {% for topic,students in data.items() %}
      <h2>Topic: {{topic}}</h2>

      {% for student in students %}
        <h3>Student: {{student.first_name}} - {{student.last_name}}</h3>
        <h3>NetId: {{student.netId}}</h3>
      {% endfor %}

    {% endfor %}

  </body>
</html>
